[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
unipath = "*"
python-dotenv = "*"
django-widget-tweaks = "*"
pillow = "*"
psycopg2-binary = "*"
gunicorn = "*"
easy-thumbnails = "*"

[dev-packages]
django-extensions = "*"
ipython = "*"
django-debug-toolbar = "*"
django-tabulate = "*"

[requires]
python_version = "3.8"
