{% extends "core/base_site.html" %}

{% block title %}{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Administracion de {{ title }}:</h2>
                        <ul class="nav navbar-left panel_toolbox">
                            <li class="dropdown">
                                <a href="{{ url_add }}" class="dropdown-toggle">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <!-- <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li> -->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="dataTable" class="table table-striped table-bordered">
                            <thead>
                                {% block thead %}
                                  
                                {% endblock thead %}
                            </thead>
                            <tbody>
                                {% block tbody %}                                  
                                
                                {% block state %}
                                    {% if object.active %}
                                    
                                    <a href="{% url 'products:state' model object.slug %}" class="btn btn-sm btn-danger">
                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Inactivar
                                    </a>
                                    {% else %}
                                    <a href="{% url 'products:state' model object.slug %}" class="btn btn-sm btn-success">
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Reactivar
                                    </a>
                                    
                                    {% endif %}
                                {% endblock state %}                                    

                                {% endblock tbody %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Datatables -->
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            responsive: true,
            autoWidth: false,
            "language": {
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Ningun registro encontrado",
                "infoFiltered": "(filtrado de  _MAX_ registros totales)",
                "lengthMenu": "Mostar " +
                    `<select>
                                <option value='5'>5</option>
                                <option value='10'>10</option>
                                <option value='25'>25</option>
                                <option value='50'>50</option>
                                <option value='100'>100</option>
                                <option value='-1'>All</option>
                            </select>` +
                    " registros por pagina",
                "paginate": {
                    'next': 'Siguiente',
                    'previous': 'Anterior'
                },
                "search": "Buscar",
                "zeroRecords": "Nada encontrado - disculpa",
            }
        });
        $('div.dataTables_filter input').focus();
    });
</script>
{% endblock javascripts %}